@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #ffffff;
}

.hero-img {
  background-image: linear-gradient(
      330deg,
      rgba(11, 29, 38, 0) 31.06%,
      #0b1d26 108.93%
    ),
    url("./assets/img/hero-hiking.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
